@model IEnumerable<DCCovid.Models.ProductCategory>

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sess = Session["MEMBER"] as DCCovid.Common.UserLogin;
    DCCovid.Models.DCCovidDbcontext db = new DCCovid.Models.DCCovidDbcontext();
}

<h2>Contact</h2>
@Html.ActionLink("Login", "Login", "User")
@Html.ActionLink("UpdateSex", "UpdateSex", "User")
@if (sess != null)
{
    var user = db.Users.Find(sess.UserID);
    foreach (var i in user.CategoryUsers)
    {
        if (i.ID == 2)
        {
            <b>
                User Tin tuc moi xem duoc
            </b>
        }
        else if (i.ID == 6)
        {
            <b>
                User mua sam moi xem duoc
            </b>
        }
        else if (i.ID == 4)
        {
            <b>
                User ket ban moi xem duoc
            </b> }
        else if (i.ID == 1)
        {
            <b>
                User xem duoc tat ca
            </b> }
        else if (i.ID == 3)
        {
            <b>
                User kien thuc moi xem duoc
            </b> }
        else
        {
            <b>
                Ban chua chon so thich nao
            </b>
        }

    }
}