
@model List<DCCovid.Models.Category>


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black">
        Tin Tức
    </a>
   
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var item in Model.Where(d => d.ParentID == null))
        {

            <a class="dropdown-item" href="/News/Category/@item.ID">@item.Name</a>
        }
        </div>
    
</li>
