@model DCCovid.ViewModel.RegisterModel
@{
    ViewBag.Title = "ForgotPassWord";
    Layout = "~/Views/Shared/Register.cshtml";
}
<div class="wrapper">
    <div class="title">
        Quên mật khẩu
    </div>
    <div class="form">
        @using (Html.BeginForm("ForgotPassWord", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
           
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          
                    <div class="inputfield">
                        <label><b>Nhập Email<p style="color:red; float:right">*</p></b></label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "input" } )
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
             
           
                    <div class="inputfield" >

                        <div class="inputfield">
                            <input type="submit" value="Gửi Mã" class="btn">
                        </div>

                    </div>
               
        }

        </div></div>