@model IEnumerable<DCCovid.Models.User>

@{
    <meta charset="utf-8" />
    ViewBag.Title = "Index";
    var listpost = (List<DCCovid.Models.PostCMT>)ViewBag.ListPost;

    var sess = Session["MEMBER"] as DCCovid.Common.UserLogin;
    DCCovid.Models.DCCovidDbcontext db = new DCCovid.Models.DCCovidDbcontext();
}
@section js{
    <script>

        $(document).ready(function () {
            LoadData();

        });
        function LoadData() {
                $.ajax({
                    url: '/user/getdata',
                    type: 'GET',
                    success: function (res) {
                        if (res.TotalItems > 0) {
                            var items = res.Data;
                            var ses = res.Ses;
                            var html = "";
                            for (let i = 0; i < res.TotalItems; i++) {
                                html += "<tr>";
                                html += "<td>" + items[i].Name + "</td>";
                                if (ses == 1) {
                                    html += "<td><form action='/Room/Create/" + items[i].ID + "', method='post'><input type = 'submit' value ='Nhắn tin' class='btn'></form></td>";
                                }


                            }
                            $('#showdata').html(html);
                        }
                    }
                });
        }
        function Delete(id) {
            if (confirm('Bật chế độ tìm bạn nhắn tin?')) {

                $.ajax({

                    type: "POST",
                    url: '@Url.Action("FindFr", "Message")/' + id,
                    success: function (data) {

                        if (data.success) {
                            LoadData();
                            window.location.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }
         function Create() {
            if (confirm('Bật chế độ tìm bạn nhắn tin?')) {

                $.ajax({

                    type: "POST",
                    url: '/room/create',
                    success: function (data) {

                        if (data.success) {
                            LoadData();
                            window.location.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }
         function Cancel() {
            if (confirm('Hủy nhắn tin với người này?')) {

                $.ajax({

                    type: "POST",
                    url: '@Url.Action("CancelChat", "Room")/',
                    success: function (data) {

                        if (data.success) {
                            LoadData();
                            window.location.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }
        (function () {
            var target = $('#target1')[0];
            $("#target1").scroll(function () {
                target.prop("scrollTop", this.scrollTop)
                    .prop("scrollLeft", this.scrollLeft);
            });
        })();
    </script>
}
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="target1" class="scroll-example">
            @foreach (var item in Model)
            {

                <tr>


                    <td><a href="/user/profile/@item.ID" style="color:black">@item.Name</a></td>
                    @if (sess != null)
                    {
                        <td><form action="/Room/Create/@item.ID" , method="post"><input type="submit" value="Nhắn tin" class="btn"></form></td>
                    }



                </tr>

            }
        </tbody>
    </table>
</div>