@model List<DCCovid.Models.User>
@{
    //ViewBag.Title = "Message";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    var sess = Session["MEMBER"] as DCCovid.Common.UserLogin;
    var listcate = (List<DCCovid.Models.CategoryUserPost>)ViewBag.listCate;
    var listuser = (List<DCCovid.Models.User>)ViewBag.listUser;
    DCCovid.Models.DCCovidDbcontext db = new DCCovid.Models.DCCovidDbcontext();
}





<div class="dropdown-menu" aria-labelledby="navbarDropdown1" style="width:300px">
    @foreach (var item in Model)
    {
        var listmess = item.Messages.OrderByDescending(d => d.ID).Take(1).ToList();
        {
            if (listmess.Count != 0)
            {
                var mess = listmess.Last();
                if (mess.Status == true && mess.UserID != sess.UserID)
                {
                    <a class="dropdown-item" href="/user/profile/@item.ID">

                        <form action="/Room/Create/@item.ID" , method="post">

                            <input type="submit" value="@item.Name" style="color:red" class="btn">
                        </form>

                    </a>
                }
                else
                {
                    <a class="dropdown-item" href="/user/profile/@item.ID">

                        <form action="/Room/Create/@item.ID" , method="post">

                            <input type="submit" value="@item.Name" class="btn">
                        </form>

                    </a>
                }
            }
            else
            {
                <a class="dropdown-item" href="/user/profile/@item.ID">

                    <form action="/Room/Create/@item.ID" , method="post">

                        <input type="submit" value="@item.Name" class="btn">
                    </form>

                </a>
            }

            <hr />
        }
    }




    @{
        var user = db.Users.Find(sess.UserID);
        if (user.Iscouple == 2)
        {
           
           
            <a class="dropdown-item">

                <p>
                    <form action="/Room/Create" method="post">
                        <input type="submit" value="Bạn ẩn danh" />
                    </form>
                </p>

            </a>
        }
    }
</div>

