@model IEnumerable<DCCovid.Models.News>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Post.cshtml";
}


<div class="container bootstrap snipets"style="background-color:white; border-radius:10px" >
    <h1 class="text-center text-muted">Tin tức</h1>
    <div class="row flow-offset-1" >
        @foreach (var i in Model)
        {
            <div class="col-xs-6 col-md-4" >
                <div class="product tumbnail thumbnail-3">
                    <a href="/news/detailnew/@i.ID">
                        <img src="~/Assets/Thumbnails/@i.Image" height="auto" width="350px">
                    </a>
                    <div class="caption">
                        <h6><a href="/news/detailnew/@i.ID">@i.Name</a></h6><span class="price">
                           
                    </div>
                </div>
            </div>
        }


    </div>
</div>