@model DCCovid.Models.News

@{
    var img = (List<DCCovid.Models.Image>)ViewBag.img;
    ViewBag.Title = "DetailNew";
    Layout = "~/Views/Shared/_Post.cshtml";
}

<div class="container" style="background-color: white; border-radius: 10px; padding: 15px 30px 15px 30px">
    <div class="duongDan">
        <a style="text-decoration:none" href="/">Trang Chủ</a>
        <a>>></a>
        <a style="text-decoration:none" href="#">Tin Tức</a>
        <a>>></a>
        <a style="text-decoration:none" href="#">Công Nghệ</a>
    </div>
    <div class="headTinTuc">
        <h2>@Model.Name</h2>
        <div style="padding-bottom:20px">
            @Model.CreateDate.Value.ToString("HH:mm, dd/MM/yyyy")
        </div>
        <p>@Model.Description</p>
        <div style="padding-bottom:20px">
            <img src="~/Assets/Thumbnails/@Model.Image" style="width:1000px;align-content:center" />
        </div>
        <div>
            @Html.Raw(Model.Detail)
        </div>
    </div>
</div>